<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="/css/style.css">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url(/images/deskbig.jpg);
        }
    </style>
</head>
<div class="myModal displayNone" id="gameFinishedModal">
    <h1 id="modalH1"></h1>
    <h2 id="modalH2">(for now)</h2>
    <a class="btn btn-primary" href="/game/lobby">OK</a>
</div>
<body id="body">

<div th:insert="~{gameHeader :: gameHeader}"></div>

    <div class="mainContainer">
        <div class="enemyBox">
            <div id="enemyName" class="enemyName" th:text="${enemyName}"></div>
            <div class="playerHand">
                <div id="enemyHand" class="cardBlock">
                    <div class="gameCard blankCard enemyHandCard" th:if="${cardsReceived == true}"  th:each="card:${enemyCards}" th:id="${card.id}" ></div>
                </div>
            </div>
        </div>
        <div class="table1">
            <div class="gameField" id="innerField">
                <div th:each="cell:${fieldCells}" th:class="${cell.getBottomCard().getDivClass()}" th:id="${cell.getBottomCard().getId()}" th:style="${cell.getBottomCard().getPath()}">
                    <svg th:if="${cell.getBottomCard().getIsTrump()}" overflow="visible" width="40px" height="40px" >
                    <polygon points="2 13 12 13 17 3 22 13 32 13 25 23 27 33 17 27 7 33 9 23"
                             stroke="orange" fill="gold"  stroke-width="2" style="margin-left: 50px"></polygon>
                    </svg>
                    <div th:class="${cell.getUpperCard().getDivClass()}" th:unless="${cell.getUpperCard() == null}" th:style="${cell.getUpperCard().getPath()}" th:id="${cell.getUpperCard().getId()}">
                        <svg th:if="${cell.getUpperCard().getIsTrump()}" overflow="visible" width="40px" height="40px" >
                            <polygon points="2 13 12 13 17 3 22 13 32 13 25 23 27 33 17 27 7 33 9 23"
                                     stroke="orange" fill="gold"  stroke-width="2" style="margin-left: 50px"></polygon>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="deck">
                <div class="deckCardBlock">
                    <div id="lastCard" th:if="${lastCardData != null}" class="gameCard rotatedCard lastCard"  th:style="${lastCardData.getPath()}">
                        <svg th:if="${lastCardData.getIsTrump()}" overflow="visible" width="40px" height="40px" >
                            <polygon points="2 13 12 13 17 3 22 13 32 13 25 23 27 33 17 27 7 33 9 23"
                                     stroke="orange" fill="gold"  stroke-width="2" style="margin-left: 50px"></polygon>
                        </svg>
                    </div>


                    <div class="gameCard preLastCardBlock" >
                        <div id="preLastCard" th:if="${cardsLeft > 1}" class='gameCard blankCard' ></div>
                    </div>
                </div>
                <div class="actionButtonBlock">
                    <button type="button" id="actionButton" class="btn btn-primary">Action</button>
                </div>

            </div>
        </div>

        <div class="playerHand">
            <div  id="myHand" class= "cardBlock">
                <div th:if="${cardsReceived}" th:each="card:${myCards}"  class="gameCard myCard" th:id="${card.id}"  th:style="${card.path}">
                    <svg th:if="${card.getIsTrump()}" overflow="visible" width="40px" height="40px" >
                        <polygon points="2 13 12 13 17 3 22 13 32 13 25 23 27 33 17 27 7 33 9 23"
                                 stroke="orange" fill="gold"  stroke-width="2" style="margin-left: 50px"></polygon>
                    </svg>
                </div>

            </div>
        </div>
    </div>



</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/mainGame.js"></script>
</html>